@model List<News>
@{
    ViewData["Title"] = "News Articles";
    ViewData["Title2"] = "Admin";
    Layout = "_AdminLayout";
}

<div class="container">
    <div class="card-header-pills"><h1 class="far fa-newspaper"> News Articles</h1></div>
    <a class="btn btn-outline-dark" asp-area="Admin" asp-controller="News" asp-action="EditNews">Add News</a>
    <br /><br />
          <div class="container">
              <div class="row" style="font-size:small">
                  @foreach (var news in Model)
                  {
                      <div class="card w-25" style="margin:0.25rem;">
                          <div class="card-header text-center"><h3>@news.NewsTitle</h3></div>

                          <div class="card-body">
                              <div class="card-title"><h5>@news.NewsHeader</h5></div>
                              <div class="card-text"><p>@news.NewsDescription</p></div>
                          </div>
                          <div class="card-footer">
                              <div class="card-text">
                                  <div class="row justify-content-between">
                                      <div class="col-auto text-body">@news.NewsFooter</div>
                                      <div class="col-auto text-body">@news.NewsPublishDate.ToString("MM/dd/yyyy")</div>
                                  </div>
                                  <div class="row justify-content-between">
                                      <div class="col-auto">
                                          <a class="card-link text-primary" asp-area="Admin" asp-controller="News" asp-action="EditNews">Edit</a>
                                      </div>
                                      <div class="col-auto">
                                          <a class="card-link text-danger" asp-area="Admin" asp-controller="News" asp-action="EditNews">Delete</a>
                                      </div>
                                  </div>
                              </div>
                              </div>
                      </div>
                  }
              </div>
          </div>
</div>