@model NonProfitProject.Models.ViewModels.Shared.Users.ProfileViewModel
@{
    ViewData["Title"] = "Profile";
    ViewData["Title2"] = "Non-Paw-Fit";
    Layout = "_" + ViewContext.RouteData.Values["area"]?.ToString() + "Layout";

}


<div class="container">
    <div class="card-header-pills"><h1 class="fa fa-address-card"> @ViewData["Title"]</h1></div>
    <div class="row" >
        <div style="margin:1rem;">
            <a class="btn-lg btn-dark text-decoration-none" asp-action="EditLogin">Edit Login Information</a>
        </div>
        <div class="justify-content-center" style="margin:1rem;">
            <a class="btn-lg btn-dark text-decoration-none" asp-action="AddPayment">Manage Payment Information</a>
        </div>
    </div>
    <div>
        <form style="font-size:medium">
            <input type="hidden" asp-for="UserID" />
            <div class="row">
                <div class="card w-auto" style="margin:0.5rem;padding:0.25rem;">
                    <div class="card-body">
                        <h4>Personal Information</h4>
                        <div class="dropdown-divider"></div>
                        <div class="row">
                            <div class="col-auto"><p>First Name:  @Model.FirstName</p> </div>
                            <div class="col-auto"><p>Last Name:  @Model.LastName</p></div>
                            <div class="col-auto"><p>Birthdate:  @Model.BirthDate.ToString("MM/dd/yyyy")</p></div>
                            <div class="col-auto"><p>Gender:  @Model.Gender</p></div>
                        </div>
                        <div class="row">
                            <div class="col-auto"><p>Username:  @Model.Username</p></div>
                            <div class="col-auto"><p>Email Address:  @Model.Email</p></div>
                        </div>
                        <h4>Address Information</h4>
                        <div class="dropdown-divider"></div>
                        <div class="row">
                            <div class="col-auto"><p>Street Address:  @Model.Addr1</p></div>
                            <div class="col-auto"><p>@Model.Addr2</p></div>
                            <div class="col-auto"><p>City:  @Model.City</p></div>
                        </div>
                        <div class="row">
                            <div class="col-auto"><p>State:  @Model.State</p></div>
                            <div class="col-auto"><p>Postal Code:  @Model.PostalCode</p></div>
                        </div>
                        <h4>Card Information</h4>
                        <div class="row">
                            <div class="card w-auto" style="margin:0 0.5rem;">
                                <div class="card-body">
                                    <h4>Debit Card </h4>
                                    <h5>Name on Card</h5>
                                    <h6>Expiration Date</h6>
                                </div>
                            </div>
                            <div class="card w-auto" style="margin:0 0.5rem;">
                                <div class="card-body">
                                    <h5>Debit Card </h5>
                                    <h5>Name on Card</h5>
                                    <h6>Expiration Date</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    


</div>