@model List<Committees>
@{
    ViewData["Title"] = "Board Committees";
    ViewData["Title2"] = "Admin";
    Layout = "_AdminLayout";

}

<div class="container">
    <div class="container">
        <div class="card-header-pills"><h1 class="fas fa-users"> @ViewData["Title"]</h1></div>
    </div>
    <br />

    <div class="container">
        <div class="row justify-content-md-center">
            @{
                foreach (var committee in Model)
                {
                    <div class="card w-auto">
                        <a class="card-header fas fa-user-edit btn btn-outline-dark" sp-area="Admin" asp-controller="Committee" asp-action="Details" asp-route-name="@committee.CommitteeName" style="font-size: xx-large; border:none"></a>
                        <div class="card-body">
                            <h3 class="card-title text-center">@committee.CommitteeName</h3>
                            <div style="font-size:small;">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Position</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            //used to only allow 5 people to show up on the committee preview page
                                            int isLessThan5 = 0;

                                            var President = committee.committeeMembers?.Where(cm => cm.CommitteePosition == "President").FirstOrDefault();
                                            if (President != null)
                                            {
                                                <tr>
                                                    <th>@President.CommitteePosition</th>
                                                    <th>@President.employee.User.UserFirstName</th>
                                                    <th>@President.employee.User.UserLastName</th>
                                                </tr>
                                                committee.committeeMembers.Remove(President);
                                                isLessThan5 += 1;
                                            }

                                            var VicePresident = committee.committeeMembers?.Where(cm => cm.CommitteePosition == "Vice President").FirstOrDefault();
                                            if (VicePresident != null)
                                            {
                                                <tr>
                                                    <th>@VicePresident.CommitteePosition</th>
                                                    <th>@VicePresident.employee.User.UserFirstName</th>
                                                    <th>@VicePresident.employee.User.UserLastName</th>
                                                </tr>
                                                committee.committeeMembers.Remove(VicePresident);
                                                isLessThan5 += 1;
                                            }

                                        }

                                        @foreach (var member in committee.committeeMembers)
                                        {
                                            if (isLessThan5 >= 5)
                                            {
                                                break;
                                            }
                                            <tr>
                                                <th>@member.CommitteePosition</th>
                                                <th>@member.employee.User.UserFirstName</th>
                                                <th>@member.employee.User.UserLastName</th>
                                            </tr>
                                            isLessThan5 += 1;
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    
</div>
