@model List<Event>
@{
    ViewData["Title"] = "Dashboard Page";
    Layout = "_AdminLayout";
}

<div class="container">
    <div class="card-header-pills"><h1 class="far fa-calendar-alt"> Events & Meetings</h1></div>
    <div class="container" style="font-size:small;">
        <div class="tab-content">
            <br />
            <!--CALENDAR EVENT CONTENTS WILL DISPLAY WHEN THE CALENDAR TAB IS SELECTED-->
            <div id="calendar" class="tab-pane active face">
                <div><button class="btn btn-outline-dark">Add Event</button></div>
                <br />
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Event Title</th>
                            <th scope="col">Event Information</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Event events in Model)
                        {
                            <tr>
                                <th scope="row" hidden>@events.EventID </th>
                                <th>@events.EventStartDate.ToShortDateString()</th>
                                <th>@events.EventEndDate.ToShortDateString()</th>
                                <th>@events.EventName</th>
                                <th>@events.EventDescription</th>
                                <th>
                                    <button class="btn btn-dark">Details</button>
                                    <button class="btn btn-outline-dark">Edit</button>
                                </th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


