
@model List<Employees> 
@{
    ViewData["Title"] = "Dashboard Page";
    Layout = "_AdminLayout";
}

<div class="container">
    <div class="card-header-pills"><h1 class="fas fa-users"> Users</h1></div>
    <br />

    <div class="row justify-content-md-center">
        <div class="col-2">
            <button class="btn btn-outline-dark">
                Add Employee
            </button>
        </div>
        <div class="col-2">
            <button class="btn btn-outline-dark">
                Add Committte
            </button>
        </div>
        <div class="col-2">
            <button class="btn btn-outline-dark">
                Add User
            </button>
        </div>
    </div>

    <br />

    <ul class="nav nav-tabs">
        <!--EMPLOYEES TAB TO DISPLAY THE TABLE LIST OF EMPLOYEES-->
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#employees">Employees</a></li>
        <!--COMMITTEES TAB TO DISPLAY THE TABLE LIST OF COMMITTEES-->
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#committees">Committees</a></li>
        <!--USERS TAB TO DISPLAY THE TABLE LIST OF OTHER SITE USERS-->
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#users">Users</a></li>
    </ul>

    <div class="container">
        <div class="tab-content" style="font-size:small;">
            <!--EMPLOYEES CONTENTS WILL DISPLAY WHEN THE EMPLOYEES TAB IS SELECTED-->
            <br />
            <div id="employees" class="tab-pane active face">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Email Address</th>
                            <th scope="col">Address1</th>
                            <th scope="col">Address2</th>
                            <th scope="col">City</th>
                            <th scope="col">State</th>
                            <th scope="col">Zip Code</th>
                            <th scope="col">Country</th>
                            <th scope="col">Telephone</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Employees empl in Model)
                        {
                        <tr>
                            <th scope="row">@empl.EmpID</th>
                            <th>@empl.User.UserFirstName</th>
                            <th>@empl.User.UserLastName</th>
                            <th>@empl.User.Email</th>
                            <th>@empl.User.UserAddr1</th>
                            <th>@empl.User.UserAddr2</th>
                            <th>@empl.User.UserCity</th>
                            <th>@empl.User.UserState</th>
                            <th>@empl.User.UserPostalCode</th>
                            <th>@empl.User.UserCountry</th>
                            <th>@empl.User.PhoneNumber</th>
                        </tr>
                        }
                        </tbody>
                </table>
            </div>
            <!--COMMITTEES CONTENTS WILL DISPLAY WHEN THE COMMITTEES TAB IS SELECTED-->
            <div id="committees" class="tab-pane fade">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Email Address</th>
                            <th scope="col">Address</th>
                            <th scope="col">City</th>
                            <th scope="col">State</th>
                            <th scope="col">Zip Code</th>
                            <th scope="col">Telephone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <th>Shawn</th>
                            <th>Job</th>
                            <th>shawnjob@address.com</th>
                            <th>712 Hill Crest Rd</th>
                            <th>Greenville</th>
                            <th>SC</th>
                            <th>29750</th>
                            <th>864-569-6363</th>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <th>Daniel</th>
                            <th>Smith</th>
                            <th>danielsmith@address.com</th>
                            <th>880 Boone Rd</th>
                            <th>Simppson</th>
                            <th>SC</th>
                            <th>29780</th>
                            <th>864-990-4571</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--USERS CONTENTS WILL DISPLAY WHEN THE USERS TAB IS SELECTED-->
            <div id="users" class="tab-pane fade">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Email Address</th>
                            <th scope="col">Address1</th>
                            <th scope="col">Address2</th>
                            <th scope="col">City</th>
                            <th scope="col">State</th>
                            <th scope="col">Zip Code</th>
                            <th scope="col">Country</th>
                            <th scope="col">Telephone</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <th>UserFirstName</th>
                                <th>UserLastName</th>
                                <th>Email</th>
                                <th>UserAddr1</th>
                                <th>UserAddr2</th>
                                <th>UserCity</th>
                                <th>UserState</th>
                                <th>UserPostalCode</th>
                                <th>UserCountry</th>
                                <th>PhoneNumber</th>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>