@model List<Receipts>
@{
    ViewData["Title"] = "Membership Dues History";
    ViewData["Title2"] = "Admin";
    Layout = "_" + ViewContext.RouteData.Values["area"]?.ToString() + "Layout";
}
<div class="container">
    <div class="container">
        <div class="card-header-pills"><h1 class="fa fa-dollar-sign">  @ViewData["Title"]</h1></div>
    </div>
    <br />
    <div class="container" style="font-size:medium;">
        <div class="card">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="w-auto">Receipt ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">Membership</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Billing Date</th>
                        <th scope="col">Active Membership</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var donation in Model)
                    {
                        <tr>
                            <td scope="row">@donation.ReceiptID</td>
                            <td scope="row">@donation.User.UserName</td>
                            <td>@donation.MembershipDue.MembershipType.Name</td>
                            <td>@donation.MembershipDue.MemStartDate.ToShortDateString()</td>
                            <td>@donation.MembershipDue.MemEndDate.ToShortDateString()</td>
                            <td>@donation.MembershipDue.MemRenewalDate.ToShortDateString()</td>
                            <td>@{
                                    if (donation.MembershipDue.MemActive) { 
                                        <p>Yes</p>
                                    }
                                    else { 
                                        <p>No</p>
                                    }
                                 }
                            </td>
                            <td>
                                <button class="btn btn-outline-dark mr-1" onclick="location.href = '@Url.Action("Details","MembershipHistory",new {id = donation.ReceiptID })'">Details</button>
                            </td>
                            <td>
                                <form method="post" asp-action="Delete" asp-route-id="@donation.ReceiptID">
                                    <button type="submit" class="btn btn-dark">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <h5 class="text-primary">@TempData["DonationChanges"]?.ToString()</h5>
    </div>
</div>