@model List<NonProfitProject.Models.User>
@{
    ViewData["Title"] = "Members List";
    ViewData["Title2"] = "Admin";
    Layout = "_AdminLayout";
}

<div class="container">
    <div class="container">
        <div class="card-header-pills"><h1 class="fas fa-handshake"> Members</h1></div>
        <a class="btn btn-outline-dark" asp-action="AddMembers">Add Member</a>
    </div>
    <br />
    <div class="container" style="font-size:medium;">
        <div class="card">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" hidden>#</th>
                        <th scope="col">Username</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Join Date</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td>@user.UserFirstName</td>
                            <td>@user.UserLastName</td>
                            <td>@user.Email</td>
                            <td>@user.UserCreationDate.ToString("MM/dd/yyyy")</td>
                            <td>
                                <button type="button" class="btn btn-outline-dark" onclick="location.href = '@Url.Action("Details","Member",new {id = user.Id })'">Details</button>
                            </td>
                            <td>
                                <form method="post" asp-action="RemoveMember" asp-route-id="@user.Id">
                                    <button type="button" class="btn btn-dark" onclick="RemoveMemberUser(this)">Remove Member</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <h5 class="text-primary">@TempData["MemberChanges"]?.ToString()</h5>
    </div>
</div>
<script type="text/javascript">
    function RemoveMemberUser(e) {
        Swal.fire({
            title: 'Are you sure you want to remove this Member?',
            showDenyButton: true,
            confirmButtonText: `Yes`,
            denyButtonText: `No`,
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                e.form.submit();
            }
        })
    }
</script>