@model IList<NonProfitProject.Models.Employees>
@{
    ViewData["Title"] = "Add Admin User";
    ViewData["Title2"] = "Admin";
    Layout = "_" + ViewContext.RouteData.Values["area"]?.ToString() + "Layout";
    @using NonProfitProject.Models.Extensions;
}
<div class="container">
    <div class="container">
        <div class="card-header-pills"><h1 class="far fa-id-card"> Add Administrator</h1></div>
    </div>
    <br />
    <div class="container" style="font-size:medium;">
        <div class="card">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Position</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Hire Date</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count == 0)
                    {
                        @:No employees Exist
                    }
                    else
                    {
                        @foreach (var empl in Model)
                        {
                            <tr>
                                <td>@empl.Position</td>
                                <td>@empl.User.UserFirstName </td>
                                <td>@empl.User.UserLastName</td>
                                <td>@empl.User.Email</td>
                                <td>@empl.HireDate.ToString("MM/dd/yyyy")</td>
                                <td>
                                    <div class="row">
                                        <button class="btn btn-outline-dark mr-1" onclick="location.href = '@Url.Action("EmployeeDetails", "Administrators", new { id = empl.EmpID })'">Details</button>
                                        <form method="post" asp-action="Add" asp-route-id="@empl.EmpID">
                                            <button type="submit" class="btn btn-dark">Add Administrator</button>
                                        </form>
                                    </div>
                                    
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <h5 class="text-primary">@TempData["MemberChanges"]?.ToString()</h5>
    </div>
    <div class="container" style="margin:1rem 0;">
        <div class="d-flex flex-row-reverse">
            <a class="btn btn-danger" asp-action="Index">Cancel</a>
        </div>
    </div>
</div>

