@model User
@{
    Layout = "_Layout";

    @using Microsoft.AspNetCore.Identity;
    @inject SignInManager<User> signInManager

}

@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://kit.fontawesome.com/deab61ee00.js" crossorigin="anonymous"></script>
}


<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 ">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><p>ABC Animal Rescue Logo</p>@*change the logo here>>><img src="~/img/BankdLogoRev1.png" alt="Bank'd Tech Solutions" width="250" height="50" />*@</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Event" asp-action="Calendar">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="NewsPage">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Donate">Donate</a>
                    </li>


                </ul>
            </div>
            <div>
                @if (signInManager.IsSignedIn(User))
                {
                    //Executes this code if user is signed in and in admin role
                    if (User.IsInRole("Admin"))
                    {
                        <div class="btn-group">
                            <a href="#" class="btn btn-outline-light dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Welcome @User.Identity.Name</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="Index"> Dashboard</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Profile" asp-action="Index">Profile</a>
                                <form class="dropdown-item" method="post" asp-area="" asp-action="Logout" asp-controller="Account">
                                    <button type="submit" class="btn btn-dark">Logout</button>
                                </form>
                            </div>
                        </div>
                    }
                    //Executes this code if user is signed in and in employee role
                    else if (User.IsInRole("Employee"))
                    {
                        <div class="btn-group">
                            <a href="#" class="btn btn-dark dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Welcome @User.Identity.Name</a>
                            <div class="dropdown-menu">
                                <form class="dropdown-item" method="post" asp-area="" asp-action="Logout" asp-controller="Account">
                                    <button type="submit" class="btn btn-dark">Logout</button>
                                </form>
                            </div>
                        </div>
                    }
                    //Executes this code if user is signed in and in member role
                    else if (User.IsInRole("Member"))
                    {
                        <div class="btn-group">
                            <a href="#" class="btn btn-dark dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Welcome @User.Identity.Name</a>
                            <div class="dropdown-menu">
                                <form class="dropdown-item" method="post" asp-area="" asp-action="Logout" asp-controller="Account">
                                    <button type="submit" class="btn btn-dark">Logout</button>
                                </form>
                            </div>
                        </div>
                    }
                    //Executes this code if user is signed in and not in admin role (regular site user)
                    else
                    {
                        <div class="btn-group">
                            <a href="#" class="btn btn-dark dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Welcome @User.Identity.Name</a>
                            <div class="dropdown-menu">
                                <form class="dropdown-item" method="post" asp-area="" asp-action="Logout" asp-controller="Account">
                                    <button type="submit" class="btn btn-dark">Logout</button>
                                </form>
                            </div>
                        </div>
                    }
                }
                // Executes this code if user is not signed in
                else
                {
                    <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                }
            </div>
        </div>
    </nav>

</header>

<div class="container-fluid" style="padding: 0 0 5rem 0; ">
    @RenderBody()
</div>

<footer class="footer text-muted">
    <div class="container text-center">
        &copy; 2021 - BANK'D Tech Solutions - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>