@model NonProfitProject.Areas.Admin.Models.ViewModels.EmployeeViewModel
@{    
    if (TempData["Action"].ToString().Equals("Details"))
    {
        ViewData["Title"] = "Employee " + TempData["Action"].ToString();
    }
    else
        ViewData["Title"] = TempData["Action"].ToString() + " Employee";

    ViewData["Title2"] = "Admin";
    Layout = "_AdminLayout";
    TempData.Keep("Action");
}
<head>
    <script type="text/javascript" src="~/js/UserValidation.js"></script>
</head>
<div class="container">
    <div class="card-header-pills"><h1 class="fa fa-address-card">  @ViewData["Title"]</h1></div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div>
        <form asp-action="AddEmployee" method="post" style="font-size:medium">
            <div class="row">
                <input type="hidden" asp-for="Id">
                <div class="card w-auto" style="margin:0.5rem;padding:0.25rem;">
                    <div class="card-body">
                        <h4>Personal Information</h4>
                        <div class="dropdown-divider"></div>
                        <div class="row">
                            <div class="form-group">
                                <!--FIRST NAME-->
                                <div class="col-auto"><label>First Name: </label></div>
                                <div class="col-auto">
                                    <input asp-for="Firstname" class="form-control" data-val="false" />
                                    <span asp-validation-for="Firstname" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <!--LAST NAME-->
                                <div class="col-auto"><label>Last Name: </label></div>
                                <div class="col-auto">
                                    <input asp-for="Lastname" class="form-control" data-val="false" />
                                    <span asp-validation-for="Lastname" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <!--BIRTH DATE-->
                                <div class="col-auto"><label>Birth Date: </label></div>
                                <div class="col-auto">
                                    <input asp-for="BirthDate" class="form-control" type="date" data-val="false" />
                                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <!--GENDER-->
                                <div class="col-auto"><label>Gender: </label></div>
                                <div class="col-auto">
                                    <select class="form-control" asp-for="Gender" name="Gender" id="Gender" data-val="false">
                                        <option></option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Prefer Not to Say">Prefer Not to Say</option>
                                    </select>

                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <br />
                        <h4>Address Information</h4>
                        <div class="dropdown-divider"></div>
                        <div class="row">
                            <div class="form-group w-50">
                                <!--ADDRESS 1-->
                                <div class="col-auto"><label>Address 1: </label></div>
                                <div class="col-auto">
                                    <input asp-for="Addr1" class="form-control" data-val="false" />
                                    <span asp-validation-for="Addr1" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group w-50">
                                <!--ADDRESS 2-->
                                <div class="col-auto"><label>Address 2: </label></div>
                                <div class="col-auto">
                                    <input asp-for="Addr2" class="form-control" data-val="false" />
                                    <span asp-validation-for="Addr2" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <!--CITY-->
                                <div class="col-auto"><label>City: </label></div>
                                <div class="col-auto">
                                    <input asp-for="City" class="form-control" data-val="false" />
                                    <span asp-validation-for="City" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <!--STATE-->
                                <div class="col-auto"><label>State: </label></div>
                                <div class="col-auto">
                                    <select asp-for="State" id="inputState" name="state" class="form-control BillingInformation" data-val="false">
                                        <option></option>
                                        <option value="Alaska">Alaska</option>
                                        <option value="Alabama">Alabama</option>
                                        <option value="Arkansas">Arkansas</option>
                                        <option value="Arizona">Arizona</option>
                                        <option value="California">California</option>
                                        <option value="Colorado">Colorado</option>
                                        <option value="Connecticut">Connecticut</option>
                                        <option value="District of Columbia">District of Columbia</option>
                                        <option value="Delaware">Delaware</option>
                                        <option value="Florida">Florida</option>
                                        <option value="Georgia">Georgia</option>
                                        <option value="Hawaii">Hawaii</option>
                                        <option value="Iowa">Iowa</option>
                                        <option value="Idaho">Idaho</option>
                                        <option value="Illinois">Illinois</option>
                                        <option value="Indiana">Indiana</option>
                                        <option value="Kansas">Kansas</option>
                                        <option value="Kentucky">Kentucky</option>
                                        <option value="Louisiana">Louisiana</option>
                                        <option value="Massachusetts">Massachusetts</option>
                                        <option value="Maryland">Maryland</option>
                                        <option value="Maine">Maine</option>
                                        <option value="Michigan">Michigan</option>
                                        <option value="Michigan">Minnesota</option>
                                        <option value="Missouri">Missouri</option>
                                        <option value="Mississippi">Mississippi</option>
                                        <option value="Montana">Montana</option>
                                        <option value="North Carolina">North Carolina</option>
                                        <option value="North Dakota">North Dakota</option>
                                        <option value="Nebraska">Nebraska</option>
                                        <option value="New Hampshire">New Hampshire</option>
                                        <option value="New Jersey">New Jersey</option>
                                        <option value="New Mexico">New Mexico</option>
                                        <option value="Nevada">Nevada</option>
                                        <option value="New York">New York</option>
                                        <option value="Ohio">Ohio</option>
                                        <option value="Oklahoma">Oklahoma</option>
                                        <option value="Oregon">Oregon</option>
                                        <option value="Pennsylvania">Pennsylvania</option>
                                        <option value="Puerto Rico">Puerto Rico</option>
                                        <option value="Rhode Island">Rhode Island</option>
                                        <option value="South Carolina">South Carolina</option>
                                        <option value="South Dakota">South Dakota</option>
                                        <option value="Tennessee">Tennessee</option>
                                        <option value="Texas">Texas</option>
                                        <option value="Utah">Utah</option>
                                        <option value="Virginia">Virginia</option>
                                        <option value="Vermont">Vermont</option>
                                        <option value="Washington">Washington</option>
                                        <option value="Wisconsin">Wisconsin</option>
                                        <option value="West Virginia">West Virginia</option>
                                        <option value="Wyoming">Wyoming</option>
                                    </select>
                                    <span asp-validation-for="State" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-auto"><label>Postal Code: </label></div>
                                <div class="col-auto">
                                    <input asp-for="PostalCode" class="form-control" data-val="false" oninput="postalcode_format(this)" />
                                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <br />
                        <h4>Job Information</h4>
                        <div class="dropdown-divider"></div>
                        <div class="row">
                            <div class="form-group">
                                <!--POSITION-->
                                <div class="col-auto"><label>Position: </label></div>
                                <div class="col-auto">
                                    <input asp-for="Position" class="form-control" data-val="false" />
                                    <span asp-validation-for="Position" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <!--SALARY-->
                                <div class="col-auto"><label>Salary: </label></div>
                                <div class="col-auto">
                                    <input asp-for="Salary" class="form-control" oninput="CheckDecimal(this)" data-val="false" />
                                    <span asp-validation-for="Salary" class="text-danger"></span>
                                </div>
                            </div>
                            @if (TempData["Action"].ToString().Equals("Details"))
                            {
                                <div class="form-group">
                                    <!--HIRE DATE-->
                                    <div class="col-auto"><label>Hire Date: </label></div>
                                    <div class="col-auto">
                                        <input class="form-control" data-val="false" value="@Model.HireDate" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <!--RELEASE DATE-->
                                    <div class="col-auto"><label>Release Date: </label></div>
                                    <div class="col-auto">
                                        <input class="form-control" data-val="false" value="@Model.ReleaseDate" />
                                    </div>
                                </div>
                            }

                        </div>
                        <div class="row">
                            <div class="form-group">
                                <!--COMMITTEE-->
                                <div class="col-auto"><label>Committee: </label></div>
                                <div class="col-auto">
                                    <select id="SelectCommittee" asp-for="CommitteeName" class="form-control" data-val="false" onchange="AddingToCommittee()" asp-items="Model.AllCommittees">
                                        <option value="None">N/A</option>
                                    </select>
                                    <span asp-validation-for="AllCommittees" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group" id="CommitteePosition">
                                <!--COMMITTEE POSITION-->
                                <div class="col-auto"><label>Committee Position: </label></div>
                                <div class="col-auto">
                                    <input asp-for="CommitteePosition" class="form-control" data-val="false" />
                                    <span asp-validation-for="CommitteePosition" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <br />
                        <h4>Login Information</h4>
                        <div class="dropdown-divider"></div>
                        <div id="LoginInformation">
                            <div class="row">
                                <div class="form-group">
                                    <!--USERNAME-->
                                    <div class="col-auto"><label>Username: </label></div>
                                    <div class="col-auto">
                                        <input asp-for="Username" class="form-control" id="Username" data-val="false" />
                                        <span asp-validation-for="Username" class="text-danger"></span>
                                    </div>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="form-group w-50">
                                    <!--EMAIL ADDRESS-->
                                    <div class="col-auto"><label>Email Address: </label></div>
                                    <div class="col-auto">
                                        <input asp-for="Email" class="form-control" id="Email" data-val="false" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group DetailsDisable w-50">
                                    <!--CONFIRM EMAIL ADDRESS-->
                                    <div class="col-auto"><label>Confirm Email Address: </label></div>
                                    <div class="col-auto">
                                        <input asp-for="EmailConfirmed" class="form-control" id="EmailConfirmed" data-val="false" />
                                        <span asp-validation-for="EmailConfirmed" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                
                                <div class="form-group DetailsDisable w-50">
                                    <!--TEMPORARY PASSWORD-->
                                    <div class="col-auto"><label>Temporary Password: </label></div>
                                    <div class="col-auto">
                                        <input id="TemporaryPassword" asp-for="TemporaryPassword" class="form-control" data-val="false" />
                                        <span asp-validation-for="TemporaryPassword" class="text-danger"></span>
                                    </div>
                                    <div class="col-auto">
                                        <input type="checkbox" name="ShowPassword" onchange="document.getElementById('TemporaryPassword').type = this.checked ? 'text' : 'password'; document.getElementById('TemporaryPasswordConfirmed').type = this.checked ? 'text' : 'password';">
                                        <label for="ShowPassword"> Show Password</label>
                                    </div>
                                </div>
                                <div class="form-group DetailsDisable w-50">
                                    <!--CONFIRM TEMPORARY PASSWORD-->
                                    <div class="col-auto"><label>Confirm Temporary Password: </label></div>
                                    <div class="col-auto">
                                        <input id="TemporaryPasswordConfirmed" asp-for="TemporaryPasswordConfirmed" class="form-control" data-val="false" />
                                        <span asp-validation-for="TemporaryPasswordConfirmed" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-12">
                                @{
                                    if (TempData["Action"].ToString().Equals("Edit"))
                                    {
                                        <div class="row">
                                            <div class="col-auto" style="margin-left:1rem;">
                                                <input type="checkbox" id="ChangeLoginInformation" onchange="changeLoginInformation()" asp-for="IsChangingLogininformation" />
                                                <label>  Change Login Information</label>
                                            </div>
                                        </div>
                                        <script>
                                            var tempPassword = document.getElementById("TemporaryPassword");
                                            tempPassword.placeholder = "optional"
                                            var tempPasswordConfirmed = document.getElementById("TemporaryPasswordConfirmed");
                                            tempPasswordConfirmed.placeholder = "optional";
                                            var initialUsername = document.getElementById("Username").value;
                                            var initialEmail = document.getElementById("Email").value;

                                            function changeLoginInformation() {
                                                let x = document.getElementById("ChangeLoginInformation");
                                                if (x.checked) {
                                                    document.getElementById("LoginInformation").style.display = "initial";
                                                }
                                                else {
                                                    document.getElementById("LoginInformation").style.display = "none";
                                                    document.getElementById("Email").value = initialEmail;
                                                    document.getElementById("EmailConfirmed").value = initialEmail;
                                                    document.getElementById("Username").value = initialUsername;
                                                    tempPassword.value = "";
                                                    tempPasswordConfirmed.value = "";
                                                }
                                            }
                                            window.onload(changeLoginInformation());
                                        </script>
                                    }
                                    else if (TempData["Action"].ToString().Equals("Details"))
                                    {
                                        <script>
                                            var inputs, index, selects;
                                            inputs = document.getElementsByTagName('input');
                                            selects = document.getElementsByTagName('select');
                                            for (var index = 0; index < inputs.length; ++index) {
                                                inputs[index].disabled = true;
                                            }
                                            for (var index = 0; index < selects.length; ++index) {
                                                selects[index].disabled = true;
                                            }
                                            passwordElements = document.getElementsByClassName("DetailsDisable");
                                            passwordElements[0].style.display = "none";
                                            passwordElements[1].style.display = "none";
                                            passwordElements[2].style.display = "none";
                                            document.getElementById("SelectCommittee").disabled = true;
                                        </script>
                                    }
                                }
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-auto">
                                <br />
                                @{
                                    if (TempData["Action"].ToString().Equals("Add"))
                                    {
                                        <button type="submit" class="btn-lg btn-outline-dark">Add Employee</button>
                                    }
                                    else if (TempData["Action"].ToString().Equals("Details"))
                                    {
                                        <button type="button" class="btn-lg btn-outline-dark" onclick="location.href = '@Url.Action("EditEmployee","Employee",new {id = Model.Id })'">Edit Employee</button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn-lg btn-outline-dark">Save Changes</button>
                                    }
                                }
                            </div>
                            <div class="col">
                                <br />
                                <button type="button" class="btn-lg btn-dark " onclick="location.href = '@Url.Action("Index","Employee")'">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

               
</form>
    </div>   
    
    <script>
        function AddingToCommittee() {
            var selectCommittee = document.getElementById("SelectCommittee");
            if (selectCommittee.value == "None")
                document.getElementById("CommitteePosition").style.display = "none";
            else
                document.getElementById("CommitteePosition").style.display = "initial";
        }
        window.onload(AddingToCommittee());
    </script>
</div>
