@model List<Employees>
@{
    ViewData["Title"] = "Employees List";
    Layout = "_AdminLayout";
}

<div class="container">
    <div class="container">
        <div class="card-header-pills"><h1 class="far fa-id-card"> Employees</h1></div>
        <a class="btn btn-outline-dark" asp-area="Admin" asp-controller="Employee" asp-action="AddEmployee">
            Add Employee
        </a>
    </div>
    <br />
    <div class="container" style="font-size:medium;">
        <div class="card">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" hidden>#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Hire Date</th>
                        <th scope="col">Position</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Employees empl in Model)
                    {
                        <tr>
                            <th scope="row" hidden>@empl.EmpID</th>
                            <th>@empl.User.UserFirstName</th>
                            <th>@empl.User.UserLastName</th>
                            <th>@empl.User.Email</th>
                            <th>@empl.HireDate</th>
                            <th>@empl.Position</th>
                            <th>
                                <div class="row">
                                    <button class="btn btn-outline-dark mr-1" onclick="location.href = '@Url.Action("Details","Employee",new {id = empl.EmpID })'">Details</button>
                                    <form method="post" asp-action="DeleteEmployee" asp-route-id="@empl.EmpID">
                                        <button type="submit" class="btn btn-dark deleteEmp">Delete</button>
                                    </form>
                                </div>
                            </th>
                        </tr>
                    }
                </tbody>


            </table>
        </div>
        <h5 class="text-primary">@TempData["EmployeeChanges"]?.ToString()</h5>
    </div>
</div>


<script>
    console.clear();

    let btns = document.querySelectorAll('.deleteEmp');

    btns.forEach(function (i) {
        i.addEventListener('click', function () {
            alert(`Delete Employee`);
        });
    });
</script>


