@model List<News>
@{
    ViewData["Title"] = "News Page";
    ViewData["Title2"] = "Non-Paw-Fit Animal Rescue";
    Layout = "_HomePage";

}

<div class="container" style="margin-top:5.5rem;">
    <div class="card-header-pills"><h1>News</h1></div>
    <div class="row">
        @foreach (var news in Model)
        {
            <div class="card w-25" style="margin:0.15rem;">
                <div class="card-header text-center"><h3>@news.NewsTitle</h3></div>

                <div class="card-body">
                    <div class="card-title"><h5>@news.NewsHeader</h5></div>
                    <div class="card-text"><p>@news.NewsBody</p></div>
                </div>
                <div class="card-footer">
                    <div class="card-text">
                        <div class="row justify-content-between">
                            <div class="col-auto text-body">@news.NewsFooter</div>
                            <div class="col-auto text-body">@news.NewsPublishDate.ToString("MM/dd/yyyy")</div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
    

</div>


