@model List<Receipts>
@{
    ViewData["Title"] = "Donation History";
    ViewData["Title2"] = "Admin";
    Layout = "_" + ViewContext.RouteData.Values["area"]?.ToString() + "Layout";
}
<script src="~/js/dark-mode-switch.js"></script>
<div class="container">
    <div class="container">
        <div class="card-header-pills"><h1 class="fa fa-dollar-sign">  @ViewData["Title"]</h1></div>
    </div>
    <br />
    <div class="container" style="font-size:medium;">
        <div class="card">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="w-auto">Receipt ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Total</th>
                        <th scope="col">Payment</th>
                        <th scope="col">Date</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() == 0)
                    {
                        <tr class="text-center">
                            <td colspan="9"><h4>You have not made any donations yet</h4></td>
                        </tr>
                    }
                    @foreach (var donation in Model)
                    {
                        <tr>
                            <td scope="row">@donation.ReceiptID</td>
                            <td scope="row">
                                @{
                                    if (donation.User.UserName.Equals("One-TimeDonation"))
                                    {
                                        @:N/A
                                    }
                                    else
                                    {
                                        @donation.User.UserName
                                    }
                                }
                            </td>
                            <td>@donation.InvoiceDonorInformation.FirstName @donation.InvoiceDonorInformation.LastName</td>
                            <td>@donation.InvoiceDonorInformation.Email</td>
                            <td>@donation.Total.ToString("C")</td>
                            <td>xxxx-xxxx-xxxx-@donation.InvoicePayment.Last4Digits</td>
                            <td>@donation.Date.ToString("MM/dd/yyyy")</td>
                            <td>
                                <button class="btn btn-outline-dark mr-1" onclick="location.href = '@Url.Action("Details","DonationHistory",new {id = donation.ReceiptID })'">Details</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <h5 class="text-primary">@TempData["DonationChanges"]?.ToString()</h5>
    </div>
</div>
<script type="text/javascript">
    function DeleteDonation(e) {
        Swal.fire({
            title: 'Are you sure you want to delete this donation?',
            showDenyButton: true,
            confirmButtonText: `Yes`,
            denyButtonText: `No`,
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                e.form.submit();
            }
        })
    }
</script>