@model CommitteeMembers
@{
    ViewData["Title"] = "Add Members";
    Layout = "_" + ViewContext.RouteData.Values["area"]?.ToString() + "Layout";
    @using NonProfitProject.Models.Extensions;
    var sessionModel = Context.Session.GetObject<NonProfitProject.Areas.Admin.Models.ViewModels.CommitteeMemberViewModel>("CommitteeMemberModel");
}
<div class="container">
    <div class="container">
        <div class="card-header-pills"><h1 class="far fa-id-card"> Add To @sessionModel.Committee.CommitteeName</h1></div>
    </div>
    <br />
    <div class="container" style="font-size:medium;">
        <div class="card">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Position</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (sessionModel.Employees.Count == 0)
                    {
                        @:All Employees have been assigned to a Committee
                    }
                    else
                    {
                        @foreach (Employees empl in sessionModel.Employees)
                        {
                            <tr>
                                <td>@empl.User.UserFirstName</td>
                                <td>@empl.User.UserLastName</td>
                                <td>@empl.User.Email</td>
                                <td>@empl.Position</td>
                                <td>
                                    <div class="row">
                                        <div class="col-auto">
                                            <div class="row">
                                                <button class="btn btn-outline-dark mr-1" onclick="location.href = '@Url.Action("EmployeeDetails","MyCommittee",new {id = empl.EmpID, name = sessionModel.Committee.CommitteeName })'">Details</button>
                                                <form method="post" asp-action="AddMembers" asp-route-id="@empl.EmpID">
                                                    <button type="button" class="btn btn-dark " onclick="SetPosition(this)">Add to Committee</button>
                                                    <input id="CommitteePosition-@empl.EmpID" asp-for="CommitteePosition" class="form-control w-50" hidden />
                                                </form>
                                            </div>
                                        </div>
                                        <!--POP UP MODAL IS FIXED-->
                                        
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>            
        </div>
    </div>
    <div class="container" style="margin:1rem 0;">
        <div class="d-flex flex-row-reverse">
            <a class="btn btn-danger" asp-controller="MyCommittee" asp-action="Index" asp-route-name="@sessionModel.Committee.CommitteeName">Cancel</a>
        </div>
    </div>
</div>
<script>
    function SetPosition(e) {
        Swal.fire({
            title: 'Set Committee Position',
            input: 'text',
            inputAttributes: {
                autocapitalize: 'off'
            },
            showDenyButton: true,
            confirmButtonText: `Add to @sessionModel.Committee.CommitteeName`,
            denyButtonText: `Cancel`,
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                let child = e.form.children[1];
                child.value = result.value;
                e.form.submit();
            }
        })
    }
</script>

