@model Committees
@{
    ViewData["Title"] = ViewBag.Action + "Committee";
    ViewData["Title2"] = "Admin";
    Layout = "_" + ViewContext.RouteData.Values["area"]?.ToString() + "Layout";
    @using Microsoft.AspNetCore.Http;
    var position = Context.Session.GetString("CommitteePosition");
    bool canEdit = false;
    if(position == "President" || position == "Vice President") {
        canEdit = true;
    }
}

<div class="container">
    <h1>@Model.CommitteeName</h1>
    <h6>Founded on @Model.CommitteeCreationDate.ToShortDateString()</h6>
    <h6>@Model.CommitteeDescription</h6>
    @if(canEdit) { 
        <div style="margin: 1rem 0;">
            <a class="btn btn-outline-dark" asp-action="AddMembers" asp-route-name="@Model.CommitteeName">Add Members</a>
        </div>
    }
    <div class="card" style="font-size:medium;">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Position</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Email Address</th>
                    <th scope="col" class="w-25">Phone</th>
                    <th scope="col"></th> 
                    
                </tr>
            </thead>
            <tbody>
                @{
                    var President = Model.committeeMembers?.Where(cm => cm.CommitteePosition == "President").FirstOrDefault();
                    if (President != null)
                    {
                        <tr>
                            <td>      
                                @if (position == "President") { 
                                    <form method="post" asp-action="EditPosition" asp-route-id="@President.EmpID" asp-route-name="@President.committee.CommitteeName" asp-route-position="@President.CommitteePosition">
                                        @President.CommitteePosition
                                        <button type="button" class="fas fa-edit" style="margin-bottom:0px; background-color:transparent; outline:none; border: none;" onclick="ChangePosition(this)"></button>
                                    </form>
                                }
                                else
                                {
                                    @President.CommitteePosition
                                }                                    
                            </td>
                            <td>@President.employee.User.UserFirstName</td>
                            <td>@President.employee.User.UserLastName</td>
                            <td>@President.employee.User.Email</td>
                            <td>@President.employee.User.PhoneNumber</td>
                            <td>
                                <div class="row">
                                    <button class="btn btn-outline-dark mr-1" onclick="location.href = '@Url.Action("MemberDetails","MyCommittee",new {id = President.EmpID, name = Model.CommitteeName})'">Details</button>
                                    @if (canEdit) { 
                                        <form asp-action="RemoveMember" method="post" asp-route-id="@President.employee.EmpID">
                                        <button type="button" class="btn btn-dark" onclick="RemoveMember(this)">Remove From Committee</button>
                                    </form>
                                    }
                                </div>
                            </td>
                        </tr>
                        Model.committeeMembers.Remove(President);
                    }
                    var VicePresident = Model.committeeMembers?.Where(cm => cm.CommitteePosition == "Vice President").FirstOrDefault();
                    if (VicePresident != null)
                    {
                        <tr>
                            <td>
                                @if (canEdit)
                                {
                                    <form method="post" asp-action="EditPosition" asp-route-id="@VicePresident.EmpID" asp-route-name="@VicePresident.committee.CommitteeName" asp-route-position="@VicePresident.CommitteePosition">
                                        @VicePresident.CommitteePosition
                                        <button type="button" class="fas fa-edit" style="margin-bottom:0px; background-color:transparent; outline:none; border: none;" onclick="ChangePosition(this)"></button>
                                    </form>
                                }
                                else
                                {
                                    @VicePresident.CommitteePosition
                                }
                            </td>
                            <td>@VicePresident.employee.User.UserFirstName</td>
                            <td>@VicePresident.employee.User.UserLastName</td>
                            <td>@VicePresident.employee.User.Email</td>
                            <td>@VicePresident.employee.User.PhoneNumber</td>
                            <td>
                                <div class="row">
                                    <button class="btn btn-outline-dark mr-1" onclick="location.href = '@Url.Action("MemberDetails","MyCommittee",new {id = VicePresident.EmpID, name = Model.CommitteeName})'">Details</button>
                                    @if (canEdit)
                                    {
                                        <form asp-action="RemoveMember" method="post" asp-route-id="@VicePresident.employee.EmpID">
                                            <button type="submit" class="btn btn-dark" onclick="RemoveMember(this)">Remove From Committee</button>
                                        </form>
                                    }
                                </div>
                            </td>
                        </tr>
                        Model.committeeMembers.Remove(VicePresident);
                    }
                }
                @foreach (var member in Model.committeeMembers)
                {
                    <tr>
                        <td>
                            @if (canEdit)
                            {
                                <form method="post" asp-action="EditPosition" asp-route-id="@member.EmpID" asp-route-name="@member.committee.CommitteeName" asp-route-position="@member.CommitteePosition">
                                    @member.CommitteePosition
                                    <button type="button" class="fas fa-edit" style="margin-bottom:0px; background-color:transparent; outline:none; border: none;" onclick="ChangePosition(this)"></button>
                                </form>
                            }
                            else
                            {
                                @member.CommitteePosition
                            }
                        </td>
                        <td>@member.employee.User.UserFirstName</td>
                        <td>@member.employee.User.UserLastName</td>
                        <td>@member.employee.User.Email</td>
                        <td>@member.employee.User.PhoneNumber</td>
                        <td>
                            <div class="row">
                                <button class="btn btn-outline-dark mr-1" onclick="location.href = '@Url.Action("MemberDetails","MyCommittee",new {id = member.EmpID, name = Model.CommitteeName})'">Details</button>
                                @if (canEdit)
                                {
                                    <form asp-action="RemoveMember" method="post" asp-route-id="@member.employee.EmpID">
                                        <button type="button" class="btn btn-dark" onclick="RemoveMember(this)">Remove From Committee</button>
                                    </form>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>    
    </div>
    <h5 class="text-primary">@TempData["CommitteeMemberChanges"]?.ToString()</h5>
</div>
<script type="text/javascript">
    function setAction(e, id) {
        let input = document.getElementById(id);
        let _form = e.form;
        let attr = _form.getAttribute("action");
        let split = attr.split("/");
        let substring = attr.substring(0, attr.length - split[split.length - 2].length - 1);
        _form.setAttribute("action", substring + input.value.replace(' ', '%20') + '/');
        //_form.submit();
    }
    function RemoveMember(e) {
        Swal.fire({
            title: 'Are you sure want to remove this member?',
            showDenyButton: true,
            confirmButtonText: `Yes`,
            denyButtonText: `No`,
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                e.form.submit();
            }
        })
    }
    function ChangePosition(e) {
        Swal.fire({
            title: 'Change committee position',
            input: 'text',
            inputAttributes: {
                autocapitalize: 'off'
            },
            showDenyButton: true,
            confirmButtonText: `Save Changes`,
            denyButtonText: `Cancel`,
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                let input = result.value;
                let _form = e.form;
                let attr = _form.getAttribute("action");
                let split = attr.split("/");
                let substring = attr.substring(0, attr.length - split[split.length - 2].length - 1);
                _form.setAttribute("action", substring + input.replace(' ', '%20') + '/');
                e.form.submit();
            }
        })
    }
</script>