@model List<Event>
@{
    ViewData["Title"] = "Event List";
    Layout = "_AdminLayout";
}

<div class="container">
    <div class="card-header-pills"><h1 class="far fa-calendar-alt"> Events & Meetings</h1></div>
    <div class="container" style="font-size:small;">
        <div>
            <a button class="btn btn-outline-dark" asp-area="Admin" asp-controller="Event" asp-action="AddEvent">Add Event</a>
        </div>
        <br />
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" hidden>#</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Event Title</th>
                    <th scope="col">Event Information</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Event events in Model)
                {
                <tr>
                    <th scope="row" hidden>@events.EventID </th>
                    <th>@events.EventStartDate.ToString("d") <br /> @events.EventStartDate.ToShortTimeString()</th>
                    <th>@events.EventEndDate.ToString("d") <br /> @events.EventEndDate.ToShortTimeString()</th>
                    <th>@events.EventName</th>
                    <th>@events.EventDescription</th>
                    <th>
                        <form method="get" asp-action="EditEvent" asp-route-id="@events.EventID">
                            <button type="submit" class="btn btn-dark">Edit</button>
                        </form>
                    </th>
                    <th>
                        <form method="post" asp-action="delete" asp-route-id="@events.EventID">
                            <button type="submit" class="btn btn-dark">delete</button>
                        </form>
                    </th>
                </tr>
                }
            </tbody>
        </table>
        <br />
        <h4>@TempData["EventChanges"]?.ToString()</h4>
    </div>
</div>


