@model List<User>
@{
    @using Microsoft.AspNetCore.Identity;
    @inject UserManager<User> usermanager
    ViewData["Title"] = "Donors List";
    ViewData["Title2"] = "Admin";
    Layout = "_AdminLayout";
    int userCount = 1;
}

<div class="container">
    <div class="container" style="margin: 1rem 0;">
        <div class="card-header-pills"><h1 class="fas fa-user"> Donors</h1></div>
        <a button class="btn btn-outline-dark" asp-area="Admin" asp-controller="Donor" asp-action="AddDonor">Add Donor</a>
    </div>
    <div class="container" style="font-size:medium;">
        <dvi class="card">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" hidden>#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Roles</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (User user in Model)
                    {
                        var roles = await usermanager.GetRolesAsync(user);
                        <tr>
                            <th scope="row" hidden>@userCount</th>
                            <th>@user.UserFirstName</th>
                            <th>@user.UserLastName</th>
                            <th>@user.Email</th>
                            <th>@roles[0]</th>
                            <th>
                                <div class="row ">
                                    <button class="btn btn-outline-dark mr-1">Edit</button>
                                    <button class="btn btn-dark">Delete</button>
                                </div>
                            </th>
                        </tr>
                        userCount += 1;
                    }
                </tbody>
            </table>
        </dvi>
    </div>
</div>

