@model List<User>
@{
    @using Microsoft.AspNetCore.Identity;
    @inject UserManager<User> usermanager
    ViewData["Title"] = "Donors List";
    ViewData["Title2"] = "Admin";
    Layout = "_AdminLayout";
    int userCount = 1;
}

<div class="container">
    <div class="container" style="margin: 1rem 0;">
        <div class="card-header-pills"><h1 class="fas fa-user"> Donors</h1></div>
        <a button class="btn btn-outline-dark" asp-area="Admin" asp-controller="Donor" asp-action="AddDonor">Add Donor</a>
    </div>
    <div class="container" style="font-size:medium;">
        <div class="card">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" hidden>#</th>
                        <th scope="col">Username</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Join Date</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (User user in Model)
                    {
                        <tr>
                            <td scope="row" hidden>@userCount</td>
                            <td>@user.UserName</td>
                            <td>@user.UserFirstName</td>
                            <td>@user.UserLastName</td>
                            <td>@user.Email</td>
                            <td>@user.UserCreationDate.ToString("MM/dd/yyyy")</td>
                            <td>
                                <div class="row ">
                                    <button class="btn btn-outline-dark mr-1" onclick="location.href = '@Url.Action("Details","Donor",new {id = user.Id })'">Details</button>
                                    <form method="post" asp-action="Delete" asp-route-id="@user.Id">
                                        <button type="button" class="btn btn-dark" onclick="DeleteDonor(this)">Delete</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        userCount += 1;
                    }
                </tbody>
            </table>
        </div>
        <h5 class="text-primary">@TempData["DonorChanges"]?.ToString()</h5>
    </div>
</div>
<script type="text/javascript">
    function DeleteDonor(e) {
        Swal.fire({
            title: 'Are you sure you want to delete this Donor?',
            showDenyButton: true,
            confirmButtonText: `Yes`,
            denyButtonText: `No`,
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                e.form.submit();
            }
        })
    }
</script>

